.header {
    background-image: url(img/img.jpg);
    background-repeat: repeat-x;
    background-position: center top;
    background-size: 800px;
    height: after;
    width: after;
    margin-top:-30px;
}

.header-logo {
    font-size: 45px;
    padding: 60px 30px 18px 30px;
    float: left;
}

.header-list li {
    list-style: none;
    padding: 90px 20px 18px 20px;
    float: right;
}

.header-list :after {
    content: "";
    display: block;
    clear: both;
}

*,
*:before,
*:after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}
html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 62.5%;
}
/*背景用*/
body {
    padding: 30px;
}

.btn,
a.btn,
button.btn {
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.5;
    position: relative;
    display: inline-block;
    padding: 1rem 4rem;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    letter-spacing: 0.1em;
    color: #212592;
    border-radius: 0.5rem; 
}
a.btn-border-shadow {
    padding: calc(1.5rem - 12px) 3rem 1.5rem;
    background:"";
}
a.btn-border-shadow:before {
    position: absolute;
    top: -6px;
    left: -6px;

    width: 100%;
    height: 100%;

    content: "";
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;

    border: 2px dashed rgb(108, 108, 108);
    border-radius: 0.5rem;
}
a.btn-border-shadow--color {
    border-radius: 25px;
    background: rgb(240, 209, 158);
}

a.btn-border-shadow--color:hover {
    background:rgba(240, 209, 158, .7);
}
a.btn-border-shadow--color:before {
    border-radius: 25px;
}

.item {
    background:"";
    color:"";
    margin: 5px;
    padding: 5px;
}

.item img {
    width: 180px;
    height: 180px;
}

.container {
    display: flex;
    align-content: center;
    justify-content:;
}